* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.galeria-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 20px;
}

.galeria-container > .card {
    margin: 50px;
    width: 300px;
    height: 350px; 
    border-radius: 10px; 
    overflow: hidden; /* Impede que a imagem saia das bordas do card no zoom */
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px, rgba(0, 0, 0, 0.1) 0px 8px 24px, rgba(0, 0, 0, 0.1) 0px 16px 56px;
}

.galeria-container > .card > img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    display: block; 
    /* Avisa o navegador para animar transformações em 0.3 segundos com suavidade */
    display: block;
    transition: transform 0.3s ease; 
}

/* Efeito Hover: Quando o mouse passa por CIMA DO CARD, a IMAGEM cresce */
.galeria-container > .card:hover > img {
    transform: scale(1.05);
}
